@model CoreandFood.Data.Models.Food
@{
    ViewData["Title"] = "FoodGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Food Add Page</h2>
<br />
@using (Html.BeginForm("FoodUpdate", "Food", FormMethod.Post))
{
    <b style="margin-left:20px;">ID</b>
    @Html.TextBoxFor(x => x.FoodID, new { @class = "form-control" })
    <br />
    <b style="margin-left:20px;">Food Name</b>
    @Html.TextBoxFor(x => x.FoodName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.FoodName, "", new { @style = "color:red" })
    <br />
    <b style="margin-left:20px;">Stock</b>
    @Html.TextBoxFor(x => x.stock, new { @class = "form-control" })
    <br />
    <b style="margin-left:20px;">Price</b>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    <b style="margin-left:20px;">Image URL</b>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <b style="margin-left:20px;">Category</b>
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryId, "", new { @style = "color:red" })
    <br />
    <b style="margin-left:20px;">Description</b>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">UPDATE FOOD</button>
}
